<!-- Project Index -->
<template>
  <div class="project-body columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-project">
        <project-content
          :project="current_project"
          mode="full" />
        <section class="section hero is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import ProjectContent from '~/components/ProjectContent'
import wp from '~/lib/wp'
import { types } from '~/store'

export default {
  name: 'SingleProject',
  fetch({ store, params }) {
    // let project_list = Object.keys(store.state.project_list)
    const existing = store.state.project_list.filter(
      p => p.slug === params.slug
    )
    if (existing.length > 0) {
      store.commit(types.CURRENT_PROJECT_UPDATE, existing[0])
      return
    }
    return wp.projects({ slug: params.slug }).then(json => {
      store.commit(types.CURRENT_PROJECT_UPDATE, json.projects[0])
    })
  },
  components: {
    ProjectContent
  },
  computed: mapState(['site_data', 'current_project']),
  head() {
    return {
      title: `${this.site_data.name} | ${this.current_project.title.rendered}`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.site_data.name} | ${
            this.current_project.title.rendered
          }`
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'http://localhost:3000' + this.$route.fullPath
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this.current_project.better_featured_image.source_url}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `${this.current_project.excerpt.rendered}`
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'article'
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: `${this.site_data.name}`
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.project-body {
  margin-top: 50vh;
}
</style>
