<template>
  <div>
    <nuxt-link
      v-if="mode === 'excerpt'"
      :to="`/portfolio/#projects`"
      class="wrapper">
      <figure
        :style="'background: ' + client.color_overlay + ' url(' + client.background_image.sizes.medium_large + ') no-repeat center; background-size: cover;'"
        class="image is-3by4">
        <div class="content">
          <img
            :src="client.logo.sizes.medium_large"
            :alt="client.name"
            class="logo">
          <div class="info">
            #sample #tags
          </div>
        </div>
      </figure>
    </nuxt-link>
    <article
      v-if="mode === 'full'"
      class="tile is-vertical is-child">
      <figure class="image is-3by2">
        <img :src="client.better_featured_image.media_details.sizes.large.source_url" >
      </figure>
      <h4 class="title is-4"> {{ client.title.rendered }} </h4>
      <p>{{ client.date_gmt | output-date }}</p>
    </article>
  </div>
</template>

<script>
export default {
  props: {
    client: {
      type: Object,
      required: true
    },
    mode: {
      type: String,
      required: true,
      validator: val => ['excerpt', 'full'].includes(val)
    }
  }
}
</script>
