<template>
  <section
    id="our-clients"
    class="section hero is-fullheight">
    <div class="hero-head">
      <div class="column is-three-quarters-tablet is-paddingless">
        <h1 class="title is-1">{{ page.acf.clients_title }}</h1>
      </div>
    </div>
    <div class="hero-body">
      <div class="column is-full">
        <div class="columns is-mulitiline">
          <div
            v-for="client in client_acfs"
            :key="client.id"
            class="column is-3">
            <client-content
              :client="client"
              mode="excerpt" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ClientContent from '~/components/home_sections/ClientContent'

export default {
  components: {
    ClientContent
  },
  props: {
    page: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      client_acfs: this.page.acf.featured_clients
    }
  }
}
</script>
