<template>
  <section
    id="lets-talk"
    class="section hero is-medium">
    <div class="hero-body">
      <div class="column is-paddingless">
        <h1 class="title is-1">{{ page.acf.contact_title }}</h1>
        <h6 class="title is-6">Let's talk about anything.</h6>
        <ul class="subjects">
          <li><nuxt-link to="/contact">New Project</nuxt-link></li>
          <li><nuxt-link to="/contact">Career</nuxt-link></li>
          <li><nuxt-link to="/contact">Just say hi!</nuxt-link></li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import wp from '~/lib/wp'

export default {
  props: {
    page: {
      type: Object,
      required: true
    }
  }
}
</script>
<style lang="scss">
#lets-talk {
  padding-top: 0;
}
</style>
