<template>
  <section
    id="our-services"
    class="section hero is-fullheight">
    <div class="hero-body">
      <div class="column is-three-quarters-tablet is-paddingless">
        <h1 class="title is-1">{{ page.acf.services_title }}</h1>
        <div
          class="content"
          v-html="page.acf.services_content" />
        <nuxt-link :to="`/services`">More about our services</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import wp from '~/lib/wp'

export default {
  props: {
    page: {
      type: Object,
      required: true
    }
  }
}
</script>
