<template>
  <section
    id="our-team"
    class="section hero is-fullheight">
    <div class="hero-head">
      <div class="column is-three-quarters-tablet is-paddingless">
        <h1 class="title is-1">{{ page.acf.team_title }}</h1>
      </div>
    </div>
    <div class="hero-body">
      <div class="canvas">
        <img src="~/static/Team.png" >
        <!-- <div class="columns is-multiline">
          <div
            v-for="member in team"
            :key="member.id"
            class="column is-3 team-member">
            <img :src="member.acf.animated_gif.url" >
          </div>
        </div> -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    page: {
      type: Object,
      required: true
    },
    team: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.canvas {
  width: 100%;
}
.team-member {
  padding: 0 2rem;
  img {
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
