<template>
  <div
    ref="bubble"
    class="bubbles">
    <svg
      id="services-bubbles"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 613 513"
      preserveAspectRatio="none">
      <g
        id="g-lg-services"
        :style="{ perspectiveOrigin: `${x}% ${y}%` }" >
        <circle
          class="fill c-white"
          cx="430"
          cy="60"
          r="165.5" />
        <circle
          class="outline"
          cx="435"
          cy="65"
          r="165.5"/>
      </g>
    </svg>
  </div>
</template>

<script>
import { TimelineMax, Sine, Back } from 'gsap'

export default {
  data() {
    return {
      x: 0,
      y: 0
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped>
svg {
  position: absolute;
  overflow: visible;
  z-index: 0;
  width: 35%;
  left: 25%;
  top: -5%;
  .outline {
    stroke-width: 1.25px;
    fill: transparent;
    stroke: $primary;
    z-index: 10;
    &.none {
      stroke: transparent;
    }
  }
  .fill {
    z-index: 0;
  }
  .c-orange {
    fill: #e79542;
  }
  .c-gray {
    fill: #415565;
  }
  .c-white {
    fill: #f2f3f3;
  }
}
</style>
