<template>
  <div
    ref="bubble"
    class="bubbles">
    <svg
      id="contact-bubbles"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 613 513"
      preserveAspectRatio="none">
      <g
        id="g-lg-contact"
        :style="{ perspectiveOrigin: `${x}% ${y}%` }" >
        <circle
          class="fill c-white"
          cx="426.5"
          cy="526.5"
          r="800"/>
      </g>
    </svg>
  </div>
</template>

<script>
import { TimelineMax, Sine, Back } from 'gsap'

export default {
  data() {
    return {
      x: 0,
      y: 0
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped>
.bubbles {
  box-shadow: 0px -2px 7px 2px transparentize($black, 0.85);
  overflow: hidden;
}
svg {
  position: absolute;
  overflow: visible;
  z-index: -2;
  width: 35%;
  left: -10%;
  top: 0;
  .outline {
    stroke-width: 1.25px;
    fill: transparent;
    stroke: $primary;
    z-index: 10;
    &.none {
      stroke: transparent;
    }
  }
  .fill {
    z-index: 0;
  }
  .c-orange {
    fill: #e79542;
  }
  .c-gray {
    fill: #415565;
  }
  .c-white {
    fill: #f2f3f3;
  }
}
</style>
