<template>
  <div
    ref="bubble"
    class="bubbles"
    @mouseover="wiggle">
    <svg
      id="hero-bubbles"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 613 513"
      preserveAspectRatio="none">
      <g
        id="g-1"
        :style="{ perspectiveOrigin: `${x}% ${y}%` }" >
        <circle
          class="fill c-orange"
          cx="54"
          cy="248"
          r="54" />
        <circle
          class="outline"
          cx="60"
          cy="254"
          r="54" />
      </g>
      <g id="g-3">
        <circle
          class="fill c-orange"
          cx="450"
          cy="350"
          r="165.5"/>
        <circle
          class="outline none"
          cx="470"
          cy="370"
          r="165.5"/>
      </g>
      <g id="g-2">
        <circle
          class="fill c-white"
          cx="225"
          cy="135"
          r="136.86"/>
        <circle
          class="outline"
          cx="240"
          cy="150"
          r="136.86"/>
      </g>
    </svg>
  </div>
</template>

<script>
import { TimelineMax, Sine, Back } from 'gsap'

export default {
  data() {
    return {
      x: 0,
      y: 0
    }
  },

  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },

  methods: {
    wiggle() {
      const tl = new TimelineMax()

      tl.add('enter')
      tl.fromTo(
        '#g-1',
        0.4,
        {
          rotation: 0
        },
        {
          rotation: 180,
          transformOrigin: '50% 50%',
          ease: Back.easeOut
        },
        'enter'
      )

      tl.fromTo(
        '#g-2',
        0.4,
        {
          rotation: 0
        },
        {
          rotation: 180,
          delay: 0.2,
          transformOrigin: '50% 50%',
          ease: Back.easeOut
        },
        'enter'
      )

      tl.fromTo(
        '#g-3',
        0.4,
        {
          rotation: 0
        },
        {
          rotation: 180,
          delay: 0.4,
          transformOrigin: '50% 50%',
          ease: Back.easeOut
        },
        'enter'
      )
    }
  }
}
</script>

<style lang="scss" scoped>
svg {
  position: absolute;
  overflow: visible;
  z-index: 0;
  width: 35%;
  right: 5%;
  top: 15%;
  .outline {
    stroke-width: 1.25px;
    fill: transparent;
    stroke: $primary;
    z-index: 10;
    &.none {
      stroke: transparent;
    }
  }
  .fill {
    z-index: 0;
  }
  .c-orange {
    fill: #e79542;
  }
  .c-gray {
    fill: #415565;
  }
  .c-white {
    fill: #f2f3f3;
  }
}
</style>
