<template>
  <div
    ref="bubble"
    class="bubbles">
    <svg
      id="project-bubbles"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 613 513"
      preserveAspectRatio="none">
      <g id="bubbles-front">
        <circle
          class="fill c-orange"
          cx="-190"
          cy="455"
          r="40" />
        <circle
          class="outline"
          cx="-150"
          cy="500"
          r="25" />
      </g>
    </svg>
  </div>
</template>

<script>
import { TimelineMax, Sine, Back } from 'gsap'

export default {
  data() {
    return {
      x: 0,
      y: 0
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped>
.bubbles {
  width: 100%;
  height: 100%;
}
svg {
  position: absolute;
  overflow: visible;
  z-index: 0;
  width: 50%;
  right: -15%;
  top: -15%;
  .outline {
    stroke-width: 1.25px;
    fill: transparent;
    stroke: $primary;
    z-index: 10;
    &.none {
      stroke: transparent;
    }
  }
  .fill {
    z-index: 0;
  }
  .c-orange {
    fill: #e79542;
  }
  .c-gray {
    fill: #415565;
  }
  .c-white {
    fill: #f2f3f3;
  }
}
</style>
