<template>
  <div
    ref="bubble"
    class="bubbles">
    <svg
      id="bubbles"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 613 513"
      preserveAspectRatio="none">
      <circle
        class="fill c-white"
        cx="200"
        cy="370"
        r="301.5"/>
      <circle
        class="fill c-white"
        cx="610"
        cy="570"
        r="173.5"/>
      <circle
        class="fill c-blue"
        cx="600"
        cy="180"
        r="165.5"/>
      <circle
        class="outline"
        cx="605"
        cy="185"
        r="165.5"/>
    </svg>
  </div>
</template>

<script>
import { TimelineMax, Sine, Back } from 'gsap'

export default {
  data() {
    return {
      x: 0,
      y: 0
    }
  },

  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped>
.canvas {
  position: fixed;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}
.bubbles {
  position: absolute;
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
  height: 100%;
  width: 100%;
}
svg {
  position: absolute;
  overflow: visible;
  z-index: 0;
  width: 35%;
  left: 5%;
  top: -5%;
  .outline {
    stroke-width: 1.25px;
    fill: transparent;
    stroke: $primary;
    z-index: 10;
    &.none {
      stroke: transparent;
    }
  }
  .fill {
    z-index: 0;
  }
  .c-orange {
    fill: #e79542;
  }
  .c-blue {
    fill: #88c4f7;
  }
  .c-white {
    fill: #f2f3f3;
  }
}
</style>
