<template>
  <div class="canvas">
    <section class="section hero is-fullheight">
      <div class="hero-body">
        <hero-bubbles />
      </div>
    </section>
    <section class="services section hero is-fullheight">
      <div class="hero-body">
        <services-bubbles />
      </div>
    </section>
    <section class="clients section hero is-fullheight">
      <div class="hero-body">
        <clients-bubbles />
      </div>
    </section>
    <section class="team section hero is-fullheight">
      <div class="hero-body">
        <team-bubbles />
      </div>
    </section>
    <section class="contact section hero is-fullheight">
      <div class="hero-body">
        <contact-bubbles />
      </div>
    </section>
  </div>
</template>

<script>
import { TimelineMax, Sine, Back } from 'gsap'
import HeroBubbles from '~/components/svg/HeroBubbles.vue'
import ServicesBubbles from '~/components/svg/ServicesBubbles.vue'
import ClientsBubbles from '~/components/svg/ClientsBubbles.vue'
import TeamBubbles from '~/components/svg/TeamBubbles.vue'
import ContactBubbles from '~/components/svg/ContactBubbles.vue'

export default {
  components: {
    HeroBubbles,
    ServicesBubbles,
    ClientsBubbles,
    TeamBubbles,
    ContactBubbles
  },
  data() {
    return {
      x: 0,
      y: 0
    }
  }
}
</script>

<style lang="scss" scoped>
.canvas {
  position: absolute;
  height: 100vh;
  z-index: -3;
  left: 0;
  top: 0;
}

.bubbles {
  position: absolute;
  text-align: center;
  padding: 50px 0;
  font-size: 30px;
  height: 100%;
  width: 100%;
}
svg {
  position: absolute;
  overflow: visible;
  z-index: 0;
  width: 35%;
  right: 5%;
  bottom: 5%;
  .outline {
    stroke-width: 1.25px;
    fill: transparent;
    stroke: $primary;
    z-index: 10;
    &.none {
      stroke: transparent;
    }
  }
  .fill {
    z-index: 0;
  }
  .c-orange {
    fill: #e79542;
  }
  .c-gray {
    fill: #415565;
  }
  .c-white {
    fill: #f2f3f3;
  }
}
</style>
