<template>
  <div class="carousel-view">
    <no-ssr>
      <vueper-slides
        :arrows="false"
        class="no-shadow">
        <vueper-slide
          v-for="(slide, i) in slides"
          :id="i"
          :key="i"
          :title="slide.name"
          :style="'background: url(' + slide.img + ') no-repeat center; background-size: cover;'"/>
      </vueper-slides>
    </no-ssr>
    <!-- <div class="carousel-controls">
      <button
        class="carousel-controls__button"
        @click="previous"><i class="fas fa-angle-left" /></button>
      {{ current }}/ {{ total }}
      <button
        class="carousel-controls__button"
        @click="next"><i class="fas fa-angle-right" /></button>
    </div> -->
  </div>
</template>

<script>
if (process.browser) {
  require('vueperslides')
}
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.min.css'

export default {
  components: {
    VueperSlides,
    VueperSlide
  },
  props: {
    slides: {
      type: Array,
      required: true
    }
  },
  // data() {
  //   return {
  //     slides: [
  //       {
  //         title: 'I am Slide A',
  //         id: 1,
  //         img:
  //           'https://images.unsplash.com/photo-1543320485-d0d5a49c2b2e?ixlib=rb-0.3.5&s=46c9cf97f8008adaf18987792c5cd7e8&auto=format&fit=crop&w=3876&q=80'
  //       },
  //       {
  //         title: 'I am Slide B',
  //         id: 2,
  //         img:
  //           'https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63e790aefbc8909865fd39d97a3c46ba&auto=format&fit=crop&w=3300&q=80'
  //       },
  //       {
  //         title: 'I am Slide C',
  //         id: 3,
  //         img:
  //           'https://images.unsplash.com/photo-1496307653780-42ee777d4833?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22b516cc4265381d7eec60226ca25c27&auto=format&fit=crop&w=3300&q=80'
  //       },
  //       {
  //         title: 'I am Slide D',
  //         id: 4,
  //         img:
  //           'https://images.unsplash.com/photo-1483366774565-c783b9f70e2c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4566b3e08a4fea053d70f2b89afcacd7&auto=format&fit=crop&w=3300&q=80'
  //       },
  //       {
  //         title: 'I am Slide E',
  //         id: 5,
  //         img:
  //           'https://images.unsplash.com/photo-1496517463163-3550265405c1?ixlib=rb-0.3.5&s=1c8e9618d22aa2293c93c5e3ce14fcc0&auto=format&fit=crop&w=3067&q=80'
  //       }
  //     ]
  //   }
  // },
  // computed: {
  //   total() {
  //     const total = this.slides.length
  //     return total
  //   },
  //   current() {
  //     const current = this.slides[2]
  //     return current.id
  //   }
  // },
  methods: {
    next() {
      const first = this.slides.shift()
      this.slides = this.slides.concat(first)
    },
    previous() {
      const last = this.slides.pop()
      this.slides = [last].concat(this.slides)
    }
  }
}
</script>
<style lang="scss">
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  transition: transform 0.3s ease-in-out;
  width: 50%;
  opacity: 0;
  figure {
    overflow: hidden;
  }
  &:nth-child(3),
  &:nth-child(4) {
    opacity: 1;
  }
  &:not(:first-of-type) {
    margin-left: 25%;
  }
}
</style>
