<template>
  <div class="bounce_logo">
    <svg
      id="logo"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 600 227.78">
      <title>bounce_logo</title>
      <path
        id="b"
        class="cls-1"
        d="M736.1,530.43q-13.19-8.49-31.82-8.48a65.42,65.42,0,0,0-19.89,3,6,6,0,0,1,.43,2.71,39.9,39.9,0,0,1,10.54-1.4q14.32,0,23.42,7.65,7.86,6.61,8.91,15.71V552a21.83,21.83,0,0,1-6.06,15.25,28.78,28.78,0,0,1-3.14,2.82c-.74.58-1.52,1.11-2.31,1.62a22.78,22.78,0,0,1-11.83,3.2q-10.36,0-17-7c-4.39-4.64-6.59-9.25-6.59-15.89V534.17h-.06V498H660V551.6a22.57,22.57,0,0,0,5.73,15.12,24.23,24.23,0,0,0,6.56,6q13.62,8.79,32,8.78,18.93,0,32-8.68t13-21.12Q749.27,538.93,736.1,530.43Z"
        transform="translate(-660 -354.25)"/>
      <path
        id="o"
        class="cls-1"
        d="M842.91,530.59q-13-8.79-30.55-8.79-18.08,0-30.54,8.69T769.39,551.6q0,12.82,12.57,21.31t30.4,8.49q18,0,30.76-8.44t12.8-21.26Q855.92,539.39,842.91,530.59Zm-13.23,37.53a23.37,23.37,0,0,1-16.92,6.77q-10.59,0-17.33-7A23.43,23.43,0,0,1,788.71,551a21.27,21.27,0,0,1,6.93-16.11,24,24,0,0,1,17.12-6.57,23.16,23.16,0,0,1,16.71,7A22.55,22.55,0,0,1,836.61,552,21.8,21.8,0,0,1,829.68,568.12Z"
        transform="translate(-660 -354.25)"/>
      <path
        id="u"
        class="cls-1"
        d="M942.27,522.8V552a22.17,22.17,0,0,1-6.64,16.12,21.81,21.81,0,0,1-16.18,6.77,21.58,21.58,0,0,1-16.59-7c-4.29-4.64-6.43-9.25-6.43-15.89V522.8H876.08v28.8q0,12.82,12.58,21.31t30.4,8.49q18,0,30.76-8.44t12.8-21.26V522.8Z"
        transform="translate(-660 -354.25)"/>
      <path
        id="n"
        class="cls-1"
        d="M1003.89,580.58v-29.2a22.19,22.19,0,0,1,6.64-16.11,21.79,21.79,0,0,1,16.18-6.77,21.57,21.57,0,0,1,16.59,7c4.3,4.64,6.44,9.25,6.44,15.88v29.22h20.88v-28.8c-.54-8.55-4.73-15.65-13.12-21.31S1039,522,1027.1,522s-22.22,2.81-30.75,8.43-13.29,12.71-13.29,21.27l0,28.89Z"
        transform="translate(-660 -354.25)"/>
      <path
        id="c"
        class="cls-1"
        d="M1152.74,575.21a41.31,41.31,0,0,1-9.71,1.11q-14,0-22.89-7.4T1111.26,551q0-10.12,9.16-17.09c6.09-4.64,13.66-7,22.61-7a38.21,38.21,0,0,1,9.58,1.19,20.51,20.51,0,0,1,2-2.84,60.06,60.06,0,0,0-20.27-3.32q-18.52,0-31.26,8.69t-12.74,21.12q0,12.83,12.87,21.31t31.13,8.48a63.72,63.72,0,0,0,19.8-3A21,21,0,0,1,1152.74,575.21Z"
        transform="translate(-660 -354.25)"/>
      <path
        id="e"
        class="cls-1"
        d="M1260,552.17a32.34,32.34,0,0,0-.82-6q-2.54-8.48-12.42-15-13.3-8.79-31.27-8.78-18.51,0-31.26,8.69a31.56,31.56,0,0,0-9.56,9.64,21.74,21.74,0,0,0-3.22,11.53q0,12.81,12.88,21.31t31.12,8.49a63.33,63.33,0,0,0,19.8-3l0,0,.06,0a21.92,21.92,0,0,1-1.38-3.41,41.42,41.42,0,0,1-9.71,1.12q-14,0-22.89-7.41a23.06,23.06,0,0,1-8.42-13.44h66.8A23.68,23.68,0,0,0,1260,552.17Zm-66.63-6.83c.05-.17.11-.34.16-.51.16-.48.37-1,.56-1.41a23.35,23.35,0,0,1,7.49-9.13c6.09-4.64,13.66-7,22.62-7a34.71,34.71,0,0,1,22.07,7.38,28.29,28.29,0,0,1,5.38,5.47l.42.7a18.94,18.94,0,0,1,1,1.64,22,22,0,0,1,1.24,2.82Z"
        transform="translate(-660 -354.25)"/>
      <g id="Dot">
        <path
          class="cls-2"
          d="M955.65,356.25a24,24,0,0,0-17.12,6.57,21.27,21.27,0,0,0-6.93,16.11,23.43,23.43,0,0,0,6.72,16.91q6.73,7,17.33,7a23.35,23.35,0,0,0,16.92-6.77,21.76,21.76,0,0,0,6.93-16.12,22.55,22.55,0,0,0-7.14-16.72A23.16,23.16,0,0,0,955.65,356.25Z"
          transform="translate(-660 -354.25)"/>
        <path
          class="cls-1"
          d="M955.6,368.09a11.78,11.78,0,0,0-8.42,3.23,10.46,10.46,0,0,0-3.4,7.92,11.52,11.52,0,0,0,3.3,8.31A11.35,11.35,0,0,0,955.6,391a11.48,11.48,0,0,0,8.31-3.33,10.71,10.71,0,0,0,3.41-7.92,11.07,11.07,0,0,0-3.51-8.22A11.38,11.38,0,0,0,955.6,368.09Z"
          transform="translate(-660 -354.25)"/>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style>
.bounce_logo {
  display: inline-block;
  /* animation: turn 2s linear forwards 1s; */
  /* transform: rotateX(180deg); */
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 245px;
}

.cls-1 {
  fill: #f78e1e;
}
.cls-2 {
  fill: none;
  stroke: #f78e1e;
  stroke-width: 4px;
}
</style>
