<template>
  <div class="bounce_logo">
    <svg
      id="logo"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 600 84.05">
      <title>logo</title>
      <g
        id="Layer_1-2"
        data-name="Layer 1">
        <path
          id="b"
          class="cls-1"
          d="M76.1,32.46Q62.92,24,44.28,24a65.73,65.73,0,0,0-19.89,3,6.06,6.06,0,0,1,.43,2.72,39.48,39.48,0,0,1,10.54-1.41q14.32,0,23.42,7.66,7.86,6.62,8.91,15.7V54a21.83,21.83,0,0,1-6.06,15.25,28.71,28.71,0,0,1-3.14,2.81c-.74.58-1.51,1.12-2.31,1.63a22.77,22.77,0,0,1-11.83,3.19q-10.37,0-17-7C23,65.29,20.8,60.69,20.8,54.05V36.2h-.06V0H0V53.63A22.57,22.57,0,0,0,5.73,68.75a24.21,24.21,0,0,0,6.56,6q13.62,8.81,32,8.79,18.93,0,32-8.68t13-21.12Q89.27,41,76.1,32.46Z"/>
        <path
          id="o"
          class="cls-1"
          d="M182.91,32.61q-13-8.79-30.55-8.78-18.08,0-30.54,8.68T109.39,53.63q0,12.81,12.57,21.31t30.4,8.48q18,0,30.76-8.43t12.8-21.26Q195.92,41.4,182.91,32.61ZM169.68,70.14a23.33,23.33,0,0,1-16.92,6.77q-10.59,0-17.33-7A23.43,23.43,0,0,1,128.71,53a21.29,21.29,0,0,1,6.93-16.12,24,24,0,0,1,17.12-6.57,23.2,23.2,0,0,1,16.71,7A22.59,22.59,0,0,1,176.61,54,21.74,21.74,0,0,1,169.68,70.14Z"/>
        <path
          id="u"
          class="cls-1"
          d="M282.27,24.83V54a22.15,22.15,0,0,1-6.64,16.11,21.78,21.78,0,0,1-16.18,6.77,21.55,21.55,0,0,1-16.59-7c-4.29-4.64-6.43-9.24-6.43-15.88V24.83H216.09v28.8q0,12.81,12.57,21.31t30.4,8.48q18,0,30.76-8.43t12.8-21.26V24.83Z"/>
        <path
          id="n"
          class="cls-1"
          d="M343.89,82.61V53.41a22.23,22.23,0,0,1,6.64-16.12,21.82,21.82,0,0,1,16.18-6.76,21.56,21.56,0,0,1,16.59,7c4.3,4.64,6.44,9.25,6.44,15.89V82.61h20.88V53.81c-.54-8.55-4.73-15.66-13.12-21.32S379,24,367.1,24s-22.22,2.81-30.75,8.44-13.29,12.71-13.29,21.26l0,28.9Z"/>
        <path
          id="c"
          class="cls-1"
          d="M492.74,77.23A40.78,40.78,0,0,1,483,78.35q-14,0-22.89-7.41T451.26,53q0-10.14,9.16-17.1c6.09-4.63,13.66-7,22.61-7a38.21,38.21,0,0,1,9.58,1.19,20.42,20.42,0,0,1,2-2.83A59.81,59.81,0,0,0,474.33,24q-18.52,0-31.26,8.69T430.33,53.8q0,12.83,12.87,21.31t31.13,8.49a63.72,63.72,0,0,0,19.8-2.95A21.13,21.13,0,0,1,492.74,77.23Z"/>
        <path
          id="e"
          class="cls-1"
          d="M600,54.2a32.35,32.35,0,0,0-.82-6q-2.53-8.46-12.42-15-13.31-8.79-31.27-8.79-18.51,0-31.26,8.69a31.56,31.56,0,0,0-9.56,9.64,21.77,21.77,0,0,0-3.22,11.53q0,12.82,12.88,21.32t31.12,8.48a63.63,63.63,0,0,0,19.8-3l0,0h.06a21.64,21.64,0,0,1-1.38-3.42,40.9,40.9,0,0,1-9.71,1.12q-14,0-22.89-7.4a23.12,23.12,0,0,1-8.42-13.45h66.8A23.45,23.45,0,0,0,600,54.2Zm-66.63-6.83c0-.18.11-.35.16-.52.16-.48.37-.94.56-1.41a23.42,23.42,0,0,1,7.49-9.13c6.09-4.63,13.66-7,22.62-7a34.77,34.77,0,0,1,22.07,7.38,28.33,28.33,0,0,1,5.38,5.48l.42.69a19.09,19.09,0,0,1,1,1.65,21.36,21.36,0,0,1,1.24,2.82Z"/>
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'Logo'
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/parts/vars.scss';

.bounce_logo {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 2rem;
  width: auto;
  svg {
    height: 100%;
    width: auto;
  }
}

.cls-1 {
  fill: $accent;
}
</style>
