<template>
  <section class="section hero is-fullheight">
    <div
      class="hero-body">
      <div class="column is-three-quarters is-paddingless">
        <h1
          class="title is-1"
          v-html="page.title.rendered" />
        <div
          id="article-content"
          class="content"
          v-html="page.content.rendered" />
      </div>
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'
import wp from '~/lib/wp'

export default {
  props: {
    page: {
      type: Object,
      required: true
    }
  }
}
</script>
