<template>
  <article class="">
    <nuxt-link
      v-if="mode === 'excerpt'"
      :to="`/posts/${post.slug}`"
      class="wrapper">
      <figure
        :style="'background: url(' + post.better_featured_image.media_details.sizes.medium_large.source_url + ') no-repeat center; background-size: cover;'"
        class="image is-3by4 tile is-vertical is-child box">
        <div class="content">
          <div class="info">
            #web #marketing #strategy
          </div>
        </div>
      </figure>
    </nuxt-link>
    <div v-else>
      <figure class="full image is-3by2">
        <img :src="post.better_featured_image.source_url">
      </figure>
      <section class="section hero is-fullheight">
        <div
          class="hero-body">
          <div class="column is-three-quarters is-paddingless">
            <h1
              class="title is-1"
              v-html="post.title.rendered" />
            <div
              id="article-content"
              class="content"
              v-html="post.content.rendered" />
          </div>
        </div>
      </section>
      <section class="content section">
        <nuxt-link :to="`/blog`"><i class="fas fa-angle-left" /> Back</nuxt-link> | <p>{{ post.date_gmt | output-date }}</p>
        <div
          class="post-body"
          v-html="post.content.rendered" />
      </section>
    </div>
  </article>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: {
    post: {
      type: Object,
      required: true
    },
    mode: {
      validator: val => ['excerpt', 'full'].includes(val),
      required: true
    }
  },
  computed: mapState(['authors'])
}
</script>

<style lang="scss" scoped>
.wrapper {
  .image {
    background-repeat: no-repeat;
    background-position: center;
    max-height: 12.5rem;
  }
}
figure.full {
  position: fixed;
  z-index: -2;
  width: 100%;
  left: 0;
  top: 0;
}
</style>
