<template>
  <div class="columns is-multiline">
    <div
      v-for="post in posts"
      :key="post.id"
      class="column is-3-tablet">
      <post-content
        :post="post"
        mode="excerpt"/>
    </div>
  </div>
</template>

<script>
import PostContent from '~/components/PostContent'

import wp from '~/lib/wp.js'

export default {
  components: {
    PostContent
  },
  props: {
    posts: {
      type: Array,
      required: true
    }
  }
}
</script>
