<template>
  <article class="">
    <!-- If mode is excerpt -->
    <nuxt-link
      v-if="mode === 'excerpt'"
      :to="`/projects/${project.slug}`"
      class="figure-wrap">
      <figure
        :style="'background: url(' + project.better_featured_image.media_details.sizes.medium_large.source_url + ') no-repeat center; background-size: cover;'"
        class="image is-3by4">
        <div class="content">
          <div class="info">
            <span
              v-for="cat in cats"
              :key="cat.id">
              #{{ cat.name }}
            </span>
          </div>
        </div>
      </figure>
    </nuxt-link>
    <!-- If mode is full -->
    <div v-else>
      <section class="section hero is-fullheight">
        <div
          class="hero-body">
          <div class="columns is-multiline is-marginless">
            <div class="column is-full is-paddingless">
              <h6
                class="subtitle is-6">
                <span
                  v-for="cat in cats"
                  :key="cat.id">
                  {{ cat.name }}
                </span>
              </h6>
              <h1
                class="title is-1"
                v-html="project.title.rendered" />
            </div>
            <div class="columns column is-full is-marginless is-paddingless">
              <div class="column is-half is-paddingless">
                <h3 class="title is-3">
                  Project Summary
                </h3>
                <div
                  class="content"
                  v-html="project.excerpt.rendered" />
                <div class="tag column is-half has-text-left is-paddingless">
                  <span class="title is-6 is-orange">
                    <span
                      v-for="cat in cats"
                      :key="cat.id"
                      class="cats">
                      {{ cat.name }}
                    </span>
                  </span>
                  <span class="title is-6 is-orange">INDUSTRY</span>
                  <span class="title is-6 is-orange">CLIENT</span>
                </div>
              </div>
              <div class="column is-half is-paddingless">
                <project-back />
                <figure class="image is-3by2 tile is-vertical is-child box">
                  <img :src="project.better_featured_image.source_url">
                </figure>
                <project-front />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content section">
        <nuxt-link :to="`/portfolio`"><i class="fas fa-angle-left" /> Back</nuxt-link> | <span>{{ project.date_gmt | output-date }} </span>
        <h3 class="title is-3">
          About the Project
        </h3>
        <div
          class="project-body"
          v-html="project.content.rendered" />
      </section>
      <!-- <section class="section hero is-medium">
        <div class="columns is-marginless">
          <div class="column is-half">
            <h1 class="title is-1">PREV</h1>
          </div>
          <div class="column is-half">
            <h1 class="title is-1 has-text-right">NEXT</h1>
          </div>
        </div>
      </section> -->
    </div>
  </article>
</template>

<script>
import ProjectBack from '~/components/svg/ProjectBack'
import ProjectFront from '~/components/svg/ProjectFront'
import { mapState } from 'vuex'

export default {
  components: {
    ProjectBack,
    ProjectFront
  },
  props: {
    project: {
      type: Object,
      required: true
    },
    mode: {
      validator: val => ['excerpt', 'full'].includes(val),
      required: true
    }
  },
  data() {
    return {
      cats: this.project.acf.categories
    }
  },
  computed: mapState(['authors'])
}
</script>

<style lang="scss" scoped>
.figure-wrap {
  .image {
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    max-height: 12.5rem;
  }
}
.hero-body {
  & > .columns {
    width: 100%;
  }
}
.columns {
  &.column {
    align-items: center;
    position: relative;
  }
}
.tag {
  display: inline-block;
  position: absolute;
  background: none;
  bottom: 0.75rem;
  span.title {
    margin-right: 1.75rem;
  }
}
.subtitle {
  span:not(:last-child) {
    &::after {
      content: '&';
    }
  }
}
.cats:not(:last-child) {
  &::after {
    content: '/';
  }
}
</style>
