<template>
  <div class="section">
    <div class="columns is-multiline is-marginless">
      <div class="filters columns column is-full is-paddingless is-marginless">
        <div class="column is-3 is-paddingless">
          <span class="label is-orange">SERVICE</span>
          <div class="control">
            <div class="select">
              <select>
                <option>ALL</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column is-3 is-paddingless">
          <span class="label is-orange">INDUSTRY</span>
          <div class="control">
            <div class="select">
              <select>
                <option>ALL</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        <div class="column is-3 is-paddingless">
          <span class="label is-orange">CLIENT</span>
          <div class="control">
            <div class="select">
              <select>
                <option>ALL</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-full columns is-marginless is-paddingless is-multiline">
        <div
          v-for="project in projects"
          :key="project.id"
          class="column is-3-tablet is-paddingless">
          <project-content
            :project="project"
            mode="excerpt"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProjectContent from '~/components/ProjectContent'

import wp from '~/lib/wp.js'

export default {
  components: {
    ProjectContent
  },
  props: {
    projects: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.filters {
  margin-bottom: 2rem !important;
  .label {
    font-size: 0.875rem;
    font-weight: 400;
  }
  .control {
    .select {
      select {
        background-color: $gray;
        border-radius: 0;
        border: none;
      }
      &:after {
        border-color: $accent;
      }
    }
  }
}
</style>
