<template>
  <div class="footer">
    <transition name="fade">
      <a
        v-scroll-to="'#top'"
        v-if="scrolled === true"
        href="#"
        class="scroll-to-top">Scroll Up</a>
    </transition>
    <div class="column is-6-tablet is-offset-6-tablet">
      <div class="columns">
        <div class="column is-4-tablet is-paddingless">
          <h6 class="title is-6">Contact</h6>
          <div class="content">
            <a
              target="_blank"
              href="mailto:hello@bouncedesign.com">hello@bouncedesign.com</a><br>
            <a href="tel:+12044809030">(204) 480-9030</a>
          </div>
        </div>
        <div class="column is-4-tablet is-paddingless">
          <h6 class="title is-6">Visit Us</h6>
          <div class="content">
            <a
              target="_blank"
              href="mailto:hello@bouncedesign.com">
              196 Provencher Blvd. <br>
              Winnipeg, MB <br>
              R2H 3B4
            </a>
          </div>
        </div>
        <div class="column is-4-tablet is-paddingless">
          <h6 class="title is-6">News</h6>
          <div class="content">
            <a
              target="_blank"
              href="https://facebook.com/bouncedesign">
              Facebook
            </a><br>
            <a
              target="_blank"
              href="https://instagram.com/bouncedesign">
              Instagram
            </a><br>
            <a
              target="_blank"
              href="https://www.facebook.com/pg/bouncedesigninc/videos/?ref=page_internal">
              #WillItBounce
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scrolled: false
    }
  },

  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },

  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0
    }
  }
}
</script>

<style lang="scss">
.scroll-to-top {
  position: fixed;
  bottom: 3rem;
  left: 2.5rem;
}

.footer {
  position: absolute;
  background: none;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  bottom: 0;
  bottom: 0;
  .title {
    padding-top: 0.5rem;
    border-top: 1px solid $accent;
  }
}

.scroll-to-top {
  transform: rotate(-90deg);
  text-transform: uppercase;
  transform-origin: left;
  font-size: 0.75rem;
}

.column {
  .content {
    a {
      font-size: 0.9rem;
      line-height: 1.1rem;
    }
  }
}
</style>
