<template>
  <div class="columns grid is-marginless">
    <div class="column is-2-desktop is-3-tablet" />
    <div class="column is-2-desktop is-3-tablet" />
    <div class="column is-2-desktop is-3-tablet" />
    <div class="column is-2-desktop is-3-tablet" />
    <div class="column is-2-desktop is-hidden-tablet-only" />
    <div class="column is-2-desktop is-hidden-tablet-only" />
  </div>
</template>

<style lang="scss">
.grid {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  .column {
    border-right: 1px solid transparentize($black, 0.9);
    &:last-of-type {
      border-right: none;
    }
  }
}
</style>
