<template>
  <header id="top">
    <div class="navbar">
      <div class="navbar-start">
        <div
          class="brand">
          <nuxt-link
            to="/"
            class="navbar-item"><Logo /></nuxt-link>
        </div>
      </div>
      <div class="navbar-end">
        <a
          :class="navclass"
          @click="navToggle">
          <span />
          <span />
          <span />
        </a>
      </div>
      <transition
        name="slide-each"
        mode="out-in">
        <div
          v-if="show"
          class="menu">
          <h1
            class="title is-1"
            @click="navToggle">
            <nuxt-link
              class="navbar-item"
              to="/">Home</nuxt-link></h1>
          <h1
            class="title is-1"
            @click="navToggle">
            <nuxt-link
              class="navbar-item"
              to="/services">Services</nuxt-link></h1>
          <h1
            class="title is-1"
            @click="navToggle">
            <nuxt-link
              class="navbar-item"
              to="/portfolio">Portfolio</nuxt-link></h1>
          <h1
            class="title is-1"
            @click="navToggle">
            <nuxt-link
              class="navbar-item"
              to="/blog">Blog</nuxt-link></h1>
          <h1
            class="title is-1"
            @click="navToggle">
            <nuxt-link
              class="navbar-item"
              to="/contact">Contact</nuxt-link></h1>
        </div>
      </transition>
    </div>
    <!-- <TheHeaderSearch/> -->
  </header>
</template>
<script>
import Logo from '~/components/Logo'

export default {
  name: 'TheHeader',
  transition: 'page',
  components: {
    Logo
  },
  data() {
    return {
      show: false,
      navclass: 'navbar-burger'
    }
  },
  methods: {
    navToggle() {
      this.show = !this.show
      if (this.show === true) {
        this.navclass = 'navbar-burger is-active'
        return this.navclass
      } else {
        this.navclass = 'navbar-burger'
        return this.navclass
      }
    }
  }
}
</script>

<style lang="scss">
header {
  width: 100%;
  padding: 2rem 0.75rem;
  @include from($desktop) {
    padding: 2rem 0;
  }
  .navbar {
    background-color: transparent;
    max-height: 3.25rem;
    padding: 0.75rem;
    width: 100%;
    @include from($tablet) {
      padding: 0;
    }
  }
  .navbar-end {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 3.25rem;
    height: 3.25rem;
    z-index: 15;
    .navbar-burger {
      display: block;
      &.is-active {
        position: fixed;
        span {
          background-color: $accent;
        }
      }
    }
  }
}
.menu {
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
  align-items: start;
  background: $black;
  position: fixed;
  height: 100vh;
  display: flex;
  width: 100vw;
  right: 0;
  top: 0;
  @include from($tablet) {
    padding: 1rem 1.5rem;
    width: 50vw;
  }
  .title {
    margin-bottom: 0;
  }
  .navbar-item,
  .navbar-item > .title {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    line-height: 1;
    color: $white;
    &::after {
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      background-color: $accent;
      display: block;
      content: '';
      height: 1px;
      width: 0;
    }
    &:hover {
      background: none;
      color: $accent;
      &::after {
        width: 100%;
      }
    }
  }
}
</style>
