// partials that contains typography styles

::selection {
  background-color: $lt-accent;
}

body {
  font-family: $font-base;
  letter-spacing: 0.75px;
  font-weight: 300;
  color: $black;
}

.title, .content .title {
  font-family: $font-title;
  color: $primary;
  font-weight: 500;
  line-height: 1.5;
  &.is-1 {
    font-size: 3.5rem;
    line-height: 3.7rem;
  }
  &.is-2 {
    font-size: 2rem;
  }
  &.is-3 {
    font-size: 1.5rem;
  }
  &.is-4 {
  }
  &.is-6 {
    text-transform: uppercase;
    font-family: $font-base;
    letter-spacing: 1.2px;
    font-weight: 600;

  }
  @include from($tablet) {
    &.is-1 {
      font-size: 7.5rem;
      line-height: 7rem;
    }
  }
}

.subtitle, .content .subtitle {
  letter-spacing: 1.5px;
  margin-bottom: 2.5rem;
  position: relative;
  font-weight: 300;
  &::before {
    background: $black;
    position: absolute;
    display: block;
    height: 0.0625rem;
    width: 7rem;
    content: " ";
    left: -8rem;
    top: calc(50% - 0.03125rem);
  }
  @include from($tablet) {
    font-size: 1.5rem;
  }
}

p {
  font-family: $font-base;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  transition: color 0.3s ease;
  color: $accent;
  &:hover {
    transition: color 0.3s ease;
    color: $black;
  }
}

.is-orange {
  color: $accent;
}
