// Vars
// $font-title: 'Chalet-NewYorkNineteenSeventy', sans-serif;
$font-title: 'Montserrat', sans-serif;
// $font-title: 'Chalet-LondonNineteenSixty', sans-serif;
$font-base: 'open-sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$primary: #030027;
$black: #151617;
$white: #ffffff;
$gray: #f2f3f3;
$accent: #e79542;
$lt-accent: #ffdb86;
$bright-orange: #ee7c02;
$bright-yellow: #f4c502;

// bulma
$gap: 0;
