@import "parts/vars";
@import "~bulma/sass/utilities/mixins";
@import "parts/typography";

body {
  font-size: 100%;
  color: $black;
  & > #__nuxt {
    overflow: hidden;
  }
}

// General Layout settings
.main {
  .section {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-footer {
  justify-content: center;
  display: flex;
  .scroll-down {
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-size: 0.75rem;
  }
}

// Transition Names/Classes
.slide-each-enter-active, .slide-each-leave-active {
  transition: all 0.5s ease;
}

.slide-each-enter, .slide-each-leave-to {
  transform-origin: left;
  transform: scaleX(6rem);
  opacity: 0;
}

.list-item {
  display: inline-block;
}

.list-enter-active, .list-leave-active {
  transition: all 0.5s ease;
}

.list-enter, .list-leave-to {
  // transform-origin: left;
  transform: translateX(2rem);
  opacity: 0;
}

// .page-enter-active, .page-leave-active {
//   transition: all 0.5s ease;
// }
//
// .page-enter, .page-leave-active {
//   transform: translateY(-5vh);
//   opacity: 0;
// }
.page-enter-active, .page-leave-active {
  transition: all .5s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateY(20);
  transform-origin: bottom;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.2s ease-out 0.3s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}


// Hover Animation on cards
.wrapper {
  padding: 0.75rem;
  display: block;
  &:hover {
    cursor: pointer;
  }
}
figure {
  background-blend-mode: soft-light;
  border-radius: 0.25rem;
  overflow: hidden;
  .content {
    display: flex;
    position: absolute;
    height: 100%;
    z-index: 10;
    width: 90%;
    left: 5%;
    top: 0;
    .logo {
      transition: transform 0.3s ease-out;
      position: relative;
      height: auto;
      margin: auto;
      max-height: 5rem;
      width: auto;
    }
    .info {
      text-align: center;
      position: absolute;
      height: 25%;
      width: 100%;
      bottom: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease-out;
    }
  }
  &:hover {
    .logo {
      transform: translateY(-25%);
      transition: transform 0.3s ease-out;
    }
    .info {
      transition: transform 0.3s ease-out;
      transform: translateY(0);
      color: $white;
    }
  }
}
