<!-- Post Index -->
<template>
  <div class="post-body columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-post">
        <div class="section hero is-fullheight">
          <post-content
            :post="current_post"
            mode="full" />
        </div>
        <div class="section hero is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import PostContent from '~/components/PostContent'
import wp from '~/lib/wp'
import { types } from '~/store'

export default {
  name: 'SinglePost',
  fetch({ store, params }) {
    // let post_list = Object.keys(store.state.post_list)
    const existing = store.state.post_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_POST_UPDATE, existing[0])
      return
    }
    return wp.posts({ slug: params.slug }).then(json => {
      store.commit(types.CURRENT_POST_UPDATE, json.posts[0])
    })
  },
  components: {
    PostContent
  },
  computed: mapState(['site_data', 'current_post']),
  head() {
    return {
      title: `${this.site_data.name} | ${this.current_post.title.rendered}`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.site_data.name} | ${
            this.current_post.title.rendered
          }`
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'http://localhost:3000' + this.$route.fullPath
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this.current_post.better_featured_image.source_url}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `${this.current_post.excerpt.rendered}`
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'article'
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: `${this.site_data.name}`
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.post-body {
  margin-top: 50vh;
}
</style>
