<template>
  <div class="interface">
    <the-grid />
    <div class="header columns is-marginless">
      <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
        <the-header/>
      </div>
    </div>
    <nuxt />
    <the-footer />
  </div>
</template>

<script>
import TheGrid from '~/components/TheGrid'
import TheHeader from '~/components/TheHeader'
import TheFooter from '~/components/TheFooter'

export default {
  name: 'Default',
  components: {
    TheGrid,
    TheHeader,
    TheFooter
  }
}
</script>

<style lang="scss">
html {
  font-size: 100%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.interface {
  position: relative;
  width: 100%;
  & > .columns.is-marginless {
    width: 100%;
  }
}

.header.columns {
  position: absolute;
  width: 100%;
}

.section {
  padding: 3rem 0.75rem;
  @include from($tablet) {
    padding: 3rem 0;
  }
  &.hero {
    & > div {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
</style>
