<template>
  <div class="columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-page">
        <section class="section hero is-fullheight">
          <page-content :page="current_page" />
        </section>
        <section class="section hero is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import PageContent from '~/components/PageContent'
import { mapState } from 'vuex'
import { types } from '~/store'
import wp from '~/lib/wp'

export default {
  name: 'SinglePage',
  components: {
    PageContent
  },
  head() {
    return {
      title: `${this.site_data.name} |
      ${this.current_page.title.rendered}`
    }
  },
  fetch({ store, params }) {
    const existing = store.state.page_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_PAGE_UPDATE, existing[0])
      return
    }
    return wp.pages({ slug: params.slug }).then(json => {
      store.commit(types.CURRENT_PAGE_UPDATE, json.pages[0])
    })
  },
  computed: mapState(['site_data', 'current_page'])
}
</script>
