<template>
  <div class="columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-page">
        <section class="section hero is-fullheight">
          <div class="hero-body">
            <div class="column is-full is-paddingless">
              <h6 class="subtitle">Bounce</h6>
              <h1 class="title is-1">News</h1>
            </div>
          </div>
        </section>
        <post-list :posts="posts"/>
        <section class="section hero is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import PageContent from '~/components/PageContent'
import PostList from '~/components/PostList'
import Carousel from '~/components/Carousel'
import { mapState } from 'vuex'
import { types } from '~/store'
import wp from '~/lib/wp'

export default {
  name: 'News',
  components: {
    PageContent,
    PostList,
    Carousel
  },
  head() {
    return {
      title: `${this.site_data.name} |
      News`
    }
  },
  async asyncData({ params }) {
    return wp.posts()
  },
  fetch({ store, params }) {
    const existing = store.state.page_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_PAGE_UPDATE, existing[0])
      return
    }
    return wp.pages({ slug: 'blog' }).then(json => {
      store.commit(types.CURRENT_PAGE_UPDATE, json.pages[0])
    })
  },
  computed: mapState(['site_data', 'current_page'])
}
</script>
