<template>
  <div class="columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-page">
        <section class="section hero is-fullheight">
          <div class="hero-body">
            <div class="column is-full is-paddingless">
              <h6 class="subtitle">Ask us about anything</h6>
              <h1 class="title is-1">Let's Talk</h1>
              <form
                id="app"
                class="column is-two-thirds is-paddingless"
                action="https://vuejs.org/"
                method="post"
                @submit="checkForm"
              >
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Text input">
                  </div>
                </div>

                <div class="field">
                  <label class="label">Subject</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      placeholder="Subject">
                  <!-- <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"/>
                  </span> -->
                  </div>
                  <!-- <p class="help is-danger">This email is invalid</p> -->
                </div>

                <div class="field">
                  <label class="label">Email</label>
                  <input
                    class="input"
                    type="email"
                    placeholder="Email input"
                    name="email">
                </div>

                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      placeholder="Message"/>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button is-text">Cancel</button>
                  </div>
                </div>
                <!-- <p v-if="errors.length">
                  <b>Please correct the following error(s):</b>
                  <ul>
                    <li
                      v-for="error in errors"
                      :key="error.id">{{ error }}</li>
                  </ul>
                </p>
                <p>
                  <label for="name">Name</label>
                  <input
                    id="name"
                    v-model="name"
                    type="text"
                    name="name"
                  >
                </p>
                <p>
                  <label for="email">Email</label>
                  <input
                    id="email"
                    v-model="email"
                    type="email"
                    name="email">
                </p>
                <p>
                  <label for="subject">Subject</label>
                  <input
                    id="subject"
                    v-model="subject"
                    type="text"
                    name="subject">
                </p>
                <p>
                  <input
                    type="submit"
                    value="Submit"
                  >
                </p> -->
              </form>
            </div>
          </div>
          <div class="hero-footer">
            <transition name="fade">
              <div
                v-if="scrolled === false"
                class="scroll_animation">
                <a
                  v-scroll-to="'#project_list'"
                  href="#"
                  class="scroll-down">View All</a>
              </div>
            </transition>
          </div>
        </section>
        <section class="section is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import PageContent from '~/components/PageContent'
import ProjectList from '~/components/ProjectList'
import Carousel from '~/components/Carousel'
import { mapState } from 'vuex'
import { types } from '~/store'
import wp from '~/lib/wp'

export default {
  name: 'Potfolio',
  components: {
    PageContent
  },
  data() {
    return {
      errors: [],
      name: null,
      email: null,
      subject: null
    }
  },
  head() {
    return {
      title: `Contact | ${this.site_data.name}`
    }
  },
  async asyncData({ params }) {
    return wp.projects()
  },
  fetch({ store, params }) {
    const existing = store.state.page_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_PAGE_UPDATE, existing[0])
      return
    }
    return wp.pages({ slug: 'contact' }).then(json => {
      store.commit(types.CURRENT_PAGE_UPDATE, json.pages[0])
    })
  },
  computed: mapState(['site_data', 'current_page']),
  methods: {
    checkForm: function(e) {
      if (this.name && this.email && this.subject) {
        return true
      }
      this.errors = []
      if (!this.name) {
        this.errors.push('Name required.')
      }
      if (!this.email) {
        this.errors.push('Email address required.')
      }
      if (!this.subject) {
        this.errors.push('Subject required.')
      }
      e.preventDefault()
    }
  }
}
</script>
