<template>
  <div class="columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main home-page">
        <canvas-back />
        <section class="section hero is-fullheight">
          <div class="hero-body">
            <div class="column is-three-quarters-tablet is-paddingless">
              <h6
                class="subtitle"
                v-html="current_page.acf.hero_subtitle" />
              <h1
                class="title is-1"
                v-html="current_page.acf.hero_title">
                <span class="is-orange">.</span>
              </h1>
            </div>
          </div>
          <div class="hero-footer">
            <transition name="fade">
              <div
                v-if="scrolled === false"
                class="scroll_animation">
                <a
                  v-scroll-to="'#our-services'"
                  v-if="scrolled === false"
                  href="#"
                  class="scroll-down">Scroll</a>
              </div>
            </transition>
          </div>
        </section>
        <services :page="current_page" />
        <clients :page="current_page" />
        <team
          :page="current_page"
          :team="team"/>
        <contact :page="current_page"/>
      </div>
    </div>
  </div>
</template>

<script>
import CanvasBack from '~/components/CanvasBack.vue'
import Services from '~/components/home_sections/Services.vue'
import Clients from '~/components/home_sections/Clients.vue'
import Team from '~/components/home_sections/Team.vue'
import Contact from '~/components/home_sections/Contact.vue'
import Logo from '~/components/Logo.vue'

import { types } from '~/store'
import { mapState } from 'vuex'
import wp from '~/lib/wp'

export default {
  name: 'Home',
  components: {
    CanvasBack,
    Services,
    Clients,
    Team,
    Contact,
    Logo
  },
  data() {
    return {
      scrolled: false
    }
  },
  fetch({ store, params }) {
    const existing = store.state.page_list.filter(p => p.slug === 'home')
    if (existing.length > 0) {
      store.commit(types.CURRENT_PAGE_UPDATE, existing[0])
      return
    }
    return wp.pages({ slug: 'home' }).then(json => {
      store.commit(types.CURRENT_PAGE_UPDATE, json.pages[0])
    })
  },
  async asyncData({ params }) {
    return wp.team()
  },
  computed: mapState(['site_data', 'current_page']),
  head() {
    return {
      title: `Home | Bounce Design Inc.`
    }
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0
    }
  }
}
</script>

<style lang="scss">
.title {
  &.is-1 {
    margin-top: -0.25rem;
  }
}
</style>
