<template>
  <div class="columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-page">
        <section class="section hero is-fullheight">
          <div class="hero-body">
            <div class="column is-full is-paddingless">
              <h6 class="subtitle">Featured</h6>
              <h1 class="title is-1">Work</h1>
              <!-- <carousel :slides="featured"/> -->
            </div>
          </div>
          <div class="hero-footer">
            <transition name="fade">
              <div
                v-if="scrolled === false"
                class="scroll_animation">
                <a
                  v-scroll-to="'#project_list'"
                  href="#"
                  class="scroll-down">View All</a>
              </div>
            </transition>
          </div>
        </section>
        <project-list
          id="project_list"
          :projects="projects"/>
        <section class="section is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import PageContent from '~/components/PageContent'
import ProjectList from '~/components/ProjectList'
import Carousel from '~/components/Carousel'
import { mapState } from 'vuex'
import { types } from '~/store'
import wp from '~/lib/wp'

export default {
  name: 'Potfolio',
  components: {
    PageContent,
    ProjectList,
    Carousel
  },
  data() {
    return {
      scrolled: false
    }
  },
  head() {
    return {
      title: `Portfolio | ${this.site_data.name}`
    }
  },
  async asyncData({ params }) {
    return wp.projects()
  },
  fetch({ store, params }) {
    const existing = store.state.page_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_PAGE_UPDATE, existing[0])
      return
    }
    return wp.pages({ slug: 'portfolio' }).then(json => {
      store.commit(types.CURRENT_PAGE_UPDATE, json.pages[0])
    })
  },
  computed: mapState(['site_data', 'current_page']),
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 0
    }
  }
}
</script>
