<template>
  <div class="columns is-marginless">
    <div class="column is-8-desktop is-offset-2-desktop is-paddingless">
      <div class="main single-page">
        <section class="section hero is-fullheight">
          <div class="hero-body">
            <div class="container">
              <h6 class="subtitle">{{ current_page.acf.subtitle }}</h6>
              <h1 class="title is-1">{{ current_page.acf.title }}<span class="is-orange">.</span></h1>
              <carousel :slides="services"/>
            </div>
          </div>
        </section>
        <section class="section is-medium" />
      </div>
    </div>
  </div>
</template>

<script>
import PageContent from '~/components/PageContent'
import Carousel from '~/components/Carousel'
import { mapState } from 'vuex'
import { types } from '~/store'
import wp from '~/lib/wp'

export default {
  name: 'Services',
  components: {
    PageContent,
    Carousel
  },
  async asyncData({ params }) {
    return wp.services()
  },
  head() {
    return {
      title: `${this.site_data.name} |
      Services `
    }
  },
  fetch({ store, params }) {
    const existing = store.state.page_list.filter(p => p.slug === params.slug)
    if (existing.length > 0) {
      store.commit(types.CURRENT_PAGE_UPDATE, existing[0])
      return
    }
    return wp.pages({ slug: 'services' }).then(json => {
      store.commit(types.CURRENT_PAGE_UPDATE, json.pages[0])
    })
  },
  computed: mapState(['site_data', 'current_page'])
}
</script>
